{# Makes use of base.jinja #}
{% extends 'base.jinja' %}

{% block head %}
{# Adds the title, stylesheet links and favicon #}

<title>Accidentes en bicicleta</title>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block content%}

{#
Adds the main content:
- Dropzone
- Information about the web
- Buttons for submitting the file and showing the map
#}
<div class="main container-fluid text-white my-5">
    <div class="container-sm row justify-content-between min-vw-100">
        <fieldset class="col-md-6 mb-6">
        <div class="text-center">
            <a class="navbar-brand">
                <img src="../static/img/bike_acc.jpg" alt="bike_accident" style="border-radius: 3px;">
            </a>
        </div>
        </fieldset>

        <fieldset class="col-md-6 mb-6">
            <legend class="my-2 row align-items-center justify-content-center">RDF-RDFS-SPARQL</legend>
            <div class="widthBoxes">
                <p style="padding-top: 20px;">
                    Nuestro proyecto consta de 4 clases principales: Accident, Biker,Severity_Injuries y por último 
                    Conditions que tiene dos subclases asociadas como Roads, con tres subclases Road_conditions,
                    Road_type y Speed_limit, y Weather, con dos subclases que son Light y Weather_conditions.
                    Estas últimas subclases junto a Severity_injuries, tienen unas instancias fijas declaradas con
                    las que el resto de clases se relacionarán, funcionando como enumerados.
                </p>
            </div>
        </fieldset>


        <div class="row col-md-12 px-3 justify-content-center align-text-center" style="padding-top: 100px;">
            <div class="col col-lg-2 mx-4 text-center">
                <button type="button" class="custom-btn btn-5" style="width: 5cm;" onclick="location.href='/OWL/consultas'">Consultas SPARQL</button>
            </div>
            <div class="col col-lg-2 mx-4 text-center">
                <button type="button" class="custom-btn btn-5" onclick="location.href='/OWL/Ontologia'">Ontología</button>
            </div>
        </div>

    
</div>
{% endblock %}

{% block scripts %}
{# Adds the scripts and dependencies #}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous">
    </script>
{% endblock %}
</body>

</html>