{# Makes use of base.jinja #}
{% extends 'base.jinja' %}

{% block head %}
{# Adds the title, stylesheet links and favicon #}

<title>Accidentes en bicicleta</title>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block content%}

{#
Adds the main content:
- Dropzone
- Information about the web
- Buttons for submitting the file and showing the map
#}
<div class="main container-fluid text-white my-5">
    <div class="container-sm row justify-content-between min-vw-100">
        <fieldset class="col-md-6 mb-6">
        <div class="text-center">
            <a class="navbar-brand">
                <img src="../static/img/bike_acc.jpg" alt="bike_accident" style="border-radius: 3px;">
            </a>
        </div>
        </fieldset>

        <fieldset class="col-md-6 mb-6">
            <legend class="my-2 row align-items-center justify-content-center">Acerca del proyecto</legend>
            <div class="widthBoxes">
                <p>
                    This a csv file visualization for vultures, and other birds, routes.
                    In our app you will be able to submit your own files in csv format
                    and choose which kind of map you would like to create, among
                    several maps in 2D and 3D. Automatically
                    the app will generate the map with your data in which you will watch
                    simply your birds' movement.

                    If you want to try the app just watch out the demos below.
                </p>
            </div>
        </fieldset>


        <div class="row col-md-12 px-3 justify-content-center align-text-center" style="padding-top: 100px;">
            <div class="col col-lg-2 mx-4 text-center">
                <button type="button" class="custom-btn btn-5" onclick="location.href='/XML/xml-html'">Q1</button>
            </div>
            <div class="col col-lg-2 mx-4 text-center">
                <button type="button" class="custom-btn btn-5" onclick="location.href='/XML/xml-xml'">Q2</button>
            </div>
            <div class="col col-lg-2 mx-4 text-center">
                <button type="button" class="custom-btn btn-5">WebVOWL</button>
            </div>
        </div>

    
</div>
{% endblock %}

{% block scripts %}
{# Adds the scripts and dependencies #}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous">
    </script>
{% endblock %}
</body>

</html>