{# Makes use of base.jinja #}
{% extends 'base.jinja' %}

{% block head %}
{# Adds the title, stylesheet links and favicon #}

<title>Accidentes en bicicleta</title>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block content%}

{#
Adds the main content:
- Dropzone
- Information about the web
- Buttons for submitting the file and showing the map
#}
<div class="container-fluid text-white my-5">
    <div class="container-sm row justify-content-between min-vw-100">
        <fieldset class="col-md-6 mb-6" style="height:500px">
        <legend class="row align-items-center justify-content-center" style="margin-left: 25px; margin-bottom: 30px;">Accidentes de bicicleta ocurridos los lunes</legend>
            <div class="widthBoxes" style="padding-bottom: 130px; padding-left:100px">
                <p>
                La siguiente consulta nos devuelve todos los accidentes que se han dado en un día concreto
                de la semana. Esta información podría resultar útil para descubrir cual es el día de la semana
                en el que mas accidentes ocurren.
                </p>
            </div>
        <div class="contenedor text-center" style="width=700px; height:100%; overflow:scroll">
            <a class="navbar-brand">
                <img src="../static/img/q1_sparql.png" alt="bike_accident" style="border-radius: 3px; width:800px;">
            </a>
        </div>
        </fieldset>

        <fieldset class="col-md-6 mb-6">
         <legend class="row align-items-center justify-content-center" style="margin-left: 25px; margin-bottom: 30px;">Accidentes de mayor gravedad</legend>
            <div class="widthBoxes" style="padding-bottom: 130px; padding-left: 100px;">
                <p>
                    Esta ultima consulta pretende mostrar aquellos accidentes de mayor gravedad, así como el
                    numero de vehículos involucrados y la climatología del accidente, estos datos son agrupados
                    por la severidad del accidente. Finalmente le aplicamos de nuevo un count para conseguir el
                    numero de accidentes con estas características.
                </p>
            </div>
        <div class="contenedor text-center" style="width=700px; height:100%; overflow:scroll">
            <a class="navbar-brand">
                <img src="../static/img/q2-sparql.png" alt="bike_accident" style="border-radius: 3px; width:800px;">
            </a>
        </div>            
        </fieldset>


        <div class="row col-md-12 px-3 justify-content-center align-text-center" style="padding-top: 100px;">
            <div class="col col-lg-2 mx-4 text-center">
                <button type="button" class="custom-btn btn-5" onclick="location.href='/OWL'">Volver Atrás</button>
            </div>
        </div>

    
</div>
{% endblock %}

{% block scripts %}
{# Adds the scripts and dependencies #}
<script src="{{url_for('static',filename='js/script_dragdrop.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous">
    </script>
{% endblock %}
</body>

</html>